<form class="example-container" [formGroup]="form" (submit)="operate()">
<div [hidden]="true">
        <mat-form-field>
            <input matInput placeholder="ID" formControlName="idPublisher">
        </mat-form-field>
    </div>

    <mat-form-field>
        <input matInput placeholder="name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="address" formControlName="address">
    </mat-form-field>

    <button mat-button type="submit">
        <mat-icon>done</mat-icon>
        <span>Done</span>
    </button>

    <button mat-button type="button" routerLink="/pages/publisher">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>
</form>
