<mat-dialog-content>
  <mat-toolbar><span>Author Info</span></mat-toolbar>

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="LastName" [(ngModel)]="author.lastName" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="FirstName" [(ngModel)]="author.firstName" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Birthdate" [(ngModel)]="author.birthdate" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Procedence"
        [(ngModel)]="author.placeBirthdate"
      />
    </mat-form-field>

    <button mat-button (click)="operate()">Done</button>
    <button mat-button (click)="close()">Cancel</button>
  </div>
</mat-dialog-content>
